# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Logs
logs/
*.log
logs/*.log

# Build and cache
dist/
build/
.cache/

# OS/system files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/
*.swp
